<ion-view>
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <a class="button button-positive">Mark a place</a>
            </div>
            <div class="col text-center">
                <a class="button button-positive">Search a place</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img class="full-image" src="img/images.png" />
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col">
                    <button class="button-icon icon ion-thumbsup">22</button>
                </div>
                <div class="col text-right">
                    <button class="button-icon icon ion-chatbubble-working"></button>
                    <button class="button-icon icon ion-forward pull-right"></button>
                </div>

            </div>

            <div class="list">
                <div class="item">Anna: Salut Tom</div>
                <div class="item">Tom: Salut Anna</div>
            </div>
        </div>
    </ion-content>
</ion-view>