<ion-view>
    <ion-content padding="true">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-divider text-center">
                        Se connecter
                    </div>
                    <div class="item item-text-wrap">
                        <form>
                            <label class="item item-input">
                                <input type="text" placeholder="login">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="password">
                            </label>
                        </form>
                    </div>
                    <div class="item item-divider text-right">
                        <a class="button button-positive button-small">Go</a>
                    </div>
                </div>
                <h4><a  ui-sref="create-user">Créer un compte</a></h4>
                <h4><a ui-sref="news.home">{ Fil d'actus }</a></h4>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Quick connect
                    </div>
                    <div class="item item-text-wrap">
                        <a class="button button-positive button-small button-block">Facebook</a>
                        <a class="button button-assertive button-small button-block">Google+</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
