<ion-view>
    <ion-content padding="true">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-divider text-center">
                        Se connecter
                    </div>
                    <div class="item item-text-wrap">
                        <form>
                            <label class="item item-input">
                                <input type="text" placeholder="login">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="password">
                            </label>
                        </form>
                    </div>
                    <div class="item item-divider text-right">
                        <a class="button button-positive button-small">Go</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Quick
                    </div>
                    <div class="item item-text-wrap">
                        <button class="button button-positive button-small icon-left ion-social-facebook">Facebook</button>
                        <br/><br/>
                        <a class="button button-assertive button-small icon-left ion-social-googleplus">Google+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-positive button-small icon-left ion-ios-color-wand-outline" ui-sref="create-user">Créer un compte</button>
                <br/><br/>
                <button class="button button-energized button-small icon-left ion-ios-unlocked" ui-sref="news.home">Fil d'actus</button>
            </div>
        </div>
    </ion-content>
</ion-view>
