<ion-view>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label item-borderless">
                <span class="input-label">Rechercher une destination :</span>
                <input type="text" placeholder="Ville, Pays" size="20">
                <div class="row">
                    <div class="col">
                        <button class="button button-positive button-block button-small">Go</button>
                    </div>
                    <di class="col">
                        <button class="button button-positive button-block button-small">Near of me</button>
                    </di>
                </div>
            </label>


            <label class="item item-input item-stacked-label item-borderless">
                <span class="input-label">Affiner votre recherche :</span>
                <ion-list>

                    <ion-checkbox class="item item-borderless">Restaurant</ion-checkbox>
                    <ion-checkbox class="item item-borderless">Bar</ion-checkbox>
                    <ion-checkbox class="item item-borderless">Hôtel</ion-checkbox>
                    <ion-checkbox class="item item-borderless">Loisir</ion-checkbox>

                </ion-list>
            </label>
        </div>
    </ion-content>
</ion-view>