<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-buttons side="left">
                <button class="button button-energized button-icon icon ion-navicon" ng-click="toggleMenu()">

                </button>
                <label class="item item-input">
                    <input type="text" placeholder="Search" size="15" ng-model="user.pseudo">
                </label>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-home button-small" ui-sref="news.home"></a>
                <a class="button button-icon icon ion-chatbubbles button-small"></a>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Inviter" icon="ion-email" ui-sref="friends.home">
                <ion-nav-view name="friends-home"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Invitations" icon="ion-person-add" ui-sref="friends.invitation">
                <ion-nav-view name="friends-invitation"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Suggestions" icon="ion-beer" ui-sref="friends.suggestion">
                <ion-nav-view name="friends-suggestion"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu-content>



    <ion-side-menu side="left">
        <ion-content>
            <div class="list">
                <div class="item dark-bg light dark-border" ui-sref="home" ng-click="toggleMenu()">Home</div>
                <div class="item dark-bg light dark-border" ui-sref="news.home" ng-click="toggleMenu()">Fil d'actu</div>
                <div class="item dark-bg light dark-border" ui-sref="places.mark-list" ng-click="toggleMenu()">Mark a place</div>
                <div class="item dark-bg light dark-border" ui-sref="places.search-form" ng-click="toggleMenu()">Search a place</div>
                <div class="item dark-bg light dark-border" ui-sref="friends.home" ng-click="toggleMenu()">Amis</div>
                <div class="item dark-bg light dark-border">My places</div>
                <div class="item dark-bg light dark-border">My account</div>
                <div class="item dark-bg light dark-border">About us</div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>